<!-- <p>about works!</p> -->
<div class="row">
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="caption caption-1">
                <p>The development of early writing and paper enabled longer-distance communication systems such as mail, including in the Persian Empire (Chapar Khaneh and Angarium) and Roman Empire, which can be interpreted as early forms of media. Writers such as Howard Rheingold have framed early forms of human communication as early forms of media, such as the Lascaux cave paintings and early writing. Another framing of the history of media starts with the Chauvet Cave paintings and continues with other ways to carry human communication beyond the short range of voice: smoke signals, trail markers, and sculpture.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="caption caption-2">
                <p>The Term media in its modern application relating to communication channels was first used by Canadian communications theorist Marshall McLuhan, who stated in Counterblast (1954): "The media are not toys; they should not be in the hands of Mother Goose and Peter Pan executives. They can be entrusted only to new artists because they are art forms." By the mid-1960s, the term had spread to general use in North America and the United Kingdom. The phrase "mass media" was, according to H.L. Mencken, used as early as 1923 in the United States.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="caption caption-3">
                <p>The role of regulatory authorities (license broadcaster institutions, content providers, platforms) and the resistance to political and commercial interference in the autonomy of the media sector are both considered as significant components of media independence. In order to ensure media independence, regulatory authorities should be placed outside of governments' directives. this can be measured through legislation, agency statutes and rules.</p>
            </div>
        </div>
    </div>
</div>
