<!-- <p>home works!</p> -->
<div class="row">
    <div class="col-md-4">
        <div class="jumbotron">
            <div class="caption">
                <h2>News updates from HT: Coronavirus Latest News, HT need more Covid-19 beds</h2>
                <h4>Here are today’s top news, analysis and opinion at 9 PM. Know all about the latest news and other news updates from Hindustan ...</h4>
            </div>
            <div>
                <img src="assets/images/media5.jpg" alt="Lights" style="width:100%; height:100%">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <div class="caption">
                <h2>Breaking News Coronavirus: Bihar sees 8,690 new Covid-19 cases in past 24 hours</h2>
                <h4>This IndiaToday.in Breaking News April 19 blog brings to you the latest breaking news from across India and the world. Find ...</h4>
            </div>
            <div>
                <img src="assets/images/media6.jpg" alt="Nature" style="width:100%; height:100%">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <div class="caption">
                <h2>Coronavirus News Updates: Announces 6-Day Lockdown, AIIMs Suspends OPD Services</h2>
                <h4>Delhi on Sunday logged the biggest jump in its daily Covid-19 tally with 25,462 fresh cases, while 161 people died ...</h4>
            </div>
            <div>
                <img src="assets/images/media7.jpg" alt="Fjords" style="width:100%; height:100%">
            </div>
        </div>
    </div>
</div>
  
