<!-- <p>gallery works!</p> -->
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="assets/images/media1.jpg" alt="Lights" style="width:100%; height:100%">
            <div class="caption caption-1">
              <p>Fever, chills, headache, fatigue, and muscle soreness, are some of the common side effects of getting the COVID-19 vaccination. Most people witness these side effects after getting the jab which simply means that the vaccine is working perfectly and is building antibodies against the virus. But apart from some of these known reactions of the vaccine, some lesser reported side effects after the COVID dose.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="assets/images/media2.jpg" alt="Nature" style="width:100%; height:100%">
            <div class="caption caption-2">
              <p>The Central Drugs Standard Control Organisation's Subject Expert Committee(SEC) has approved the Covishield vaccine against Covid-19 developed by the serum institute of india (SII) and AstraZeneca-Oxford University.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="assets/images/media3.jpg" alt="Fjords" style="width:100%; height:100%">
            <div class="caption caption-3">
              <p>Covaxin works by teaching the immune system to make antibodies against the SARS-CoV-2 coronavirus. The antibodies attach to viral proteins, such as the so-called spike proteins that stud its surface.</p>
            </div>
        </div>
    </div>
</div>

